<div class="bg-success">
    <h1>Carrito</h1>
    <div class="container d-flex flex-wrap gap-3">
        {{#each products}}
            <div class="card" style="width: 18rem;">
            <img src={{this.product.thumbnail}} class="card-img-top" alt="...">
            <div class="card-body">
                <h1 class="card-title">{{this.product.title}}</h1>
                <p class="card-text">{{this.product.description}}</p>
                <h3 class="card-text">Categoria: {{this.product.category}}</h3>
                <h4 class="card-text">${{this.product.price}}</h4>
                <h5 class="card-text">Código: {{this.product.code}}</h5>
                <p class="card-text">Cant: {{this.quantity}}</p>
                
                <input class="btn btn-primary" value="Ver más" type="button" name={{this.product._id}} onsubmit="addToCart()">

            </div>
            </div>
        {{/each}}
    </div>
</div>

<div class="container" id="cart"></div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>