<div class="container mt-4">
    <div class=" d-flex flex-wrap gap-2">
        <table class="table tabla">
            <thead>
                <tr>
                <th scope="col"></th>
                <th scope="col">Product</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Total</th>
                </tr>
            </thead>
            {{#each cartProducts}}
            <tbody>
                <tr>
                    <th><img src="{{this.product.thumbnail}}" alt="{{this.product.thumbnail}}" style="width:4rem; height:4rem"></th>
                    <td>{{this.product.title}}</td>
                    <td>{{this.product.price}}</td>
                    <td>{{this.quantity}}</td>
                    <td>10000</td>
                </tr>
            </tbody>
            {{/each}}
        </table>
    </div>
</div>

